<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>{{user}}</h2>
        <ol class="breadcrumb">
            <li>
                <a href="index.html">首页</a>
            </li>
            <li>
                <a>第一卷</a>
            </li>
            <li class="active">
                <strong>目录</strong>
            </li>
        </ol>
    </div>
</div>
<div class="row">
    <div class="col-sm-10"></div>
    <div class="col-sm-2">
        <button class="btn btn-outline btn-lg btn-primary" ng-click="newCata();">
            <i class="fa fa-plus"></i>新增
        </button>
    </div>
</div>

<div class="wrapper-md">
    <tabset class="tab-container">
        <tab>
            <tab-heading>
                中文简体
            </tab-heading>
            <div class="wrapper-md">
                <div class="panel panel-default">
                    <div class="table-responsive">
                        <table class="table m-b-none" ui-jq="footable" data-filter="#filter"
                               data-page-size="15">
                            <thead>
                            <tr>
                                <th>序号</th>
                                <th>名称</th>
                                <th>操作</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td ng-bind="$index+1">1</td>
                                <td>睦月·小说</td>
                                <td>
                                    <button class="btn  btn-sm btn-success btn-addon"  ng-click="check()"><i
                                            class="fa fa-laptop"></i>|查看详细
                                    </button>
                                    <button class="btn  btn-sm btn-info btn-addon" ng-click="redact()"><i
                                            class="fa fa-edit"></i>|编辑
                                    </button>
                                    <button class="btn  btn-sm btn-danger btn-addon" ng-click="delClick()"><i
                                            class="fa fa-unlock-alt"></i>|删除
                                    </button>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="panel-footer">
                    <div class="row ">
                        <div class="col-sm-12">
                            <tm-pagination conf="paginationConf" class="paginationGid"></tm-pagination>
                        </div>
                    </div>
                </div>
            </div>
        </tab>
        <tab>
            <tab-heading>
                中文繁體
            </tab-heading>
            <div class="wrapper-md">
                <div class="panel panel-default">
                    <div class="table-responsive">
                        <table class="table m-b-none" ui-jq="footable" data-filter="#filter"
                               data-page-size="15">
                            <thead>
                            <tr>
                                <th>序号</th>
                                <th>名称</th>
                                <th>操作</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td ng-bind="$index+1">1</td>
                                <td>睦月·漫畫</td>
                                <td>
                                    <button class="btn  btn-sm btn-success btn-addon" ng-click="check()"><i
                                            class="fa fa-laptop"></i>|查看详细
                                    </button>
                                    <button class="btn  btn-sm btn-info btn-addon" ng-click="redact()"><i
                                            class="fa fa-edit"></i>|编辑
                                    </button>
                                    <button class="btn  btn-sm btn-danger btn-addon" ng-click="delClick()"><i
                                            class="fa fa-unlock-alt"></i>|刪除
                                    </button>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="panel-footer">
                    <div class="row ">
                        <div class="col-sm-12">
                            <tm-pagination conf="paginationConf" class="paginationGid"></tm-pagination>
                        </div>
                    </div>
                </div>
            </div>
        </tab>
        <tab>
            <tab-heading>
                English
            </tab-heading>
            <div class="wrapper-md">
                <div class="panel panel-default">
                    <div class="table-responsive">
                        <table class="table m-b-none" ui-jq="footable" data-filter="#filter"
                               data-page-size="15">
                            <thead>
                            <tr>
                                <th>序号</th>
                                <th>名称</th>
                                <th>操作</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td ng-bind="$index+1">1</td>
                                <td>MuYue·Cartoon</td>
                                <td>
                                    <button class="btn  btn-sm btn-success btn-addon" ng-click="check()"><i
                                            class="fa fa-laptop"></i>|查看详细
                                    </button>
                                    <button class="btn  btn-sm btn-info btn-addon" ng-click="redact()"><i
                                            class="fa fa-edit"></i>|编辑
                                    </button>
                                    <button class="btn  btn-sm btn-danger btn-addon" ng-click="delClick()"><i
                                            class="fa fa-unlock-alt"></i>|删除
                                    </button>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="panel-footer">
                    <div class="row ">
                        <div class="col-sm-12">
                            <tm-pagination conf="paginationConf" class="paginationGid"></tm-pagination>
                        </div>
                    </div>
                </div>
            </div>
        </tab>
    </tabset>
</div>
<script>

</script>