<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>{{user}}{{index}}</h2>
        <ol class="breadcrumb">
            <li>
                <a href="index.html">首页</a>
            </li>
            <li>
                <a>第一卷</a>
            </li>
            <li class="active">
                <strong>世界观</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">
    
    </div>
</div>
<div class="wrapper-md">
    <tabset class="tab-container">
        <tab ng-init="myLang.ch='zh_cn'" ng-click="seeLang(myLang.cn)">
            <tab-heading>
                中文简体
            </tab-heading>
            <!--没有列表-->
            <div class="ibox-content p-md" ng-show="upLoadBtn==false;">
                <form class="form-horizontal" method="get">
                    <div class="form-group"><label class="col-sm-1 control-label">卷名称:</label>
                        <div class="col-sm-11">
                            <input type="text" class="form-control" ng-model="worldData.name" name="name">
                        </div>
                    </div>
                    <div class="form-group"><label class="col-sm-1 control-label">标题:</label>
                        <div class="col-sm-11">
                            <input type="text" class="form-control" ng-model="worldData.title" name="title">
                        </div>
                    </div>
                    <div class="form-group"><label class="col-sm-1 control-label">简介:</label>
                        <div class="col-sm-11">
                            <textarea type="text" class="form-control" ng-model="worldData.introduction"> </textarea>
                        </div>
                    </div>
                    <div class="form-group"><label class="col-sm-1 control-label">概要:</label>
                        <div class="col-sm-11"><textarea type="text" class="form-control"
                                                         ng-model="worldData.description"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-1 control-label">图片:</label>
                        <div class="upload-div col-sm-6">
                            <div class="upload-buttons">
                                <button class="button" ngf-select ng-model="worldData.file" name="file"
                                        ngf-pattern="'image/*'"
                                        ngf-accept="'image/*'" ngf-max-size="20MB" ngf-min-height="100">上传
                                </button>
                                <img ngf-src="worldData.file">
                            </div>
                            <br/>
                            <div style="clear:both" class="err" ng-show="errorMsg != null">{{errorMsg}}</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-1 control-label">人物标题:</label>
                        <div class="col-sm-11"><input type="text" class="form-control"
                                                      ng-model="worldData.caricatureTitle">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-1 control-label">CG标题:</label>
                        <div class="col-sm-11">
                            <input type="text" class="form-control" ng-model="worldData.cgTitle">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-5"></div>
                        <div class="col-lg-5">
                            <button class="btn-lg btn-outline btn-primary" ng-click="newUpData()"
                                    ng-show="upLoadBtn==false;">保存
                            </button>
                        </div>
                    </div>
                </form>
            </div>
            <!--有列表情况下的编辑-->
            <div class="ibox-content p-md" ng-show="spanShow==true;">
                <form class="form-horizontal" method="get">
                    <div class="form-group"><label class="col-sm-1 control-label">卷名称:</label>
                        <div class="col-sm-11">
                            <input type="text" class="form-control" ng-model="loadList.result.name" name="name">
                        </div>
                    </div>
                    <div class="form-group"><label class="col-sm-1 control-label">标题:</label>
                        <div class="col-sm-11">
                            <input type="text" class="form-control" ng-model="loadList.result.title" name="title">
                        </div>
                    </div>
                    <div class="form-group"><label class="col-sm-1 control-label">简介:</label>
                        <div class="col-sm-11">
                            <textarea type="text" class="form-control"
                                      ng-model="loadList.result.introduction"> </textarea>
                        </div>
                    </div>
                    <div class="form-group"><label class="col-sm-1 control-label">概要:</label>
                        <div class="col-sm-11"><textarea type="text" class="form-control"
                                                         ng-model="loadList.result.description"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-1 control-label">图片:</label>
                        <div class="upload-div col-sm-6">
                            <div class="upload-buttons">
                                <button class="button" ngf-select ng-model="loadList.result.file" name="file"
                                        ngf-pattern="'image/*'"
                                        ngf-accept="'image/*'" ngf-max-size="20MB" ngf-min-height="100">修改
                                </button>
                                <img ng-show="loadList.result.file==undefined" ng-src="http://localhost:8087/MuYueAdmin/api/img?path={{loadList.result.imgPath}}">
                                <img ngf-src="loadList.result.file" ng-show="loadList.result.file!==undefined">
                            </div>
                            <br/>
                            <div style="clear:both" class="err" ng-show="errorMsg != null">{{errorMsg}}</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-1 control-label">人物标题:</label>
                        <div class="col-sm-11"><input type="text" class="form-control"
                                                      ng-model="loadList.result.caricatureTitle">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-1 control-label">CG标题:</label>
                        <div class="col-sm-11">
                            <input type="text" class="form-control" ng-model="loadList.result.cgTitle">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-5"></div>
                        <div class="col-lg-5">
                            <button class="btn-lg btn-outline btn-primary" ng-click="editUpData(result.id)"
                                    ng-show="upLoadBtn==true;">编辑保存
                            </button>
                        </div>
                    </div>
                </form>
            </div>
            <!--有列表下的展示-->
            <div class="ibox-content p-md" ng-show="loadList.success==true && spanShow==false;">
                <form class="form-horizontal" method="get">
                    <div class="form-group"><label class="col-sm-1 control-label">卷名称:</label>
                        <div class="col-sm-11">
                            <span class="text-left" ng-bind="loadList.result.name"></span>
                        </div>
                    </div>
                    <div class="form-group"><label class="col-sm-1 control-label">标题:</label>
                        <div class="col-sm-11">
                            <span class="text-left" ng-bind="loadList.result.title" name="title"></span>
                        </div>
                    </div>
                    <div class="form-group"><label class="col-sm-1 control-label">简介:</label>
                        <div class="col-sm-11">
                            <span class="text-left" ng-bind="loadList.result.introduction"></span>
                        </div>
                    </div>
                    <div class="form-group"><label class="col-sm-1 control-label">概要:</label>
                        <span class="text-left" ng-bind="loadList.result.description"></span>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-1 control-label">图片:</label>
                        <img ng-src="http://localhost:8087/MuYUeAdmin/api/img?path={{loadList.result.imgPath}}" alt="">
                    </div>
                    <div class="form-group">
                        <label class="col-sm-1 control-label">人物标题:</label>
                        <div class="col-sm-11">
                            <span class="text-left" ng-bind="loadList.result.caricatureTitle"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-1 control-label">CG标题:</label>
                        <div class="col-sm-11">
                            <span class="text-left" ng-bind="loadList.result.cgTitle"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-5"></div>
                        <div class="col-lg-5">
                            <button class="btn-lg btn-outline btn-primary" ng-click="worldRedact()">编辑</button>
                        </div>
                    </div>
                </form>
            </div>
        </tab>
        <tab ng-click="seeLang(myLang.tw)">
            <tab-heading>
                中文繁体
            </tab-heading>
            <!--没有列表-->
            <div class="ibox-content p-md" ng-show="upLoadBtn==false;">
                <form class="form-horizontal" method="get">
                    <div class="form-group"><label class="col-sm-1 control-label">卷名称:</label>
                        <div class="col-sm-11">
                            <input type="text" class="form-control" ng-model="worldData.name" name="name">
                        </div>
                    </div>
                    <div class="form-group"><label class="col-sm-1 control-label">标题:</label>
                        <div class="col-sm-11">
                            <input type="text" class="form-control" ng-model="worldData.title" name="title">
                        </div>
                    </div>
                    <div class="form-group"><label class="col-sm-1 control-label">简介:</label>
                        <div class="col-sm-11">
                            <textarea type="text" class="form-control" ng-model="worldData.introduction"> </textarea>
                        </div>
                    </div>
                    <div class="form-group"><label class="col-sm-1 control-label">概要:</label>
                        <div class="col-sm-11"><textarea type="text" class="form-control"
                                                         ng-model="worldData.description"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-1 control-label">图片:</label>
                        <div class="upload-div col-sm-6">
                            <div class="upload-buttons">
                                <button class="button" ngf-select ng-model="worldData.file" name="file"
                                        ngf-pattern="'image/*'"
                                        ngf-accept="'image/*'" ngf-max-size="20MB" ngf-min-height="100">上传
                                </button>
                                <img ngf-src="worldData.file">
                            </div>
                            <br/>
                            <div style="clear:both" class="err" ng-show="errorMsg != null">{{errorMsg}}</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-1 control-label">人物标题:</label>
                        <div class="col-sm-11"><input type="text" class="form-control"
                                                      ng-model="worldData.caricatureTitle">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-1 control-label">CG标题:</label>
                        <div class="col-sm-11">
                            <input type="text" class="form-control" ng-model="worldData.cgTitle">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-5"></div>
                        <div class="col-lg-5">
                            <button class="btn-lg btn-outline btn-primary" ng-click="newUpData()"
                                    ng-show="upLoadBtn==false;">保存
                            </button>
                        </div>
                    </div>
                </form>
            </div>
            <!--有列表情况下的编辑-->
            <div class="ibox-content p-md" ng-show="spanShow==true;">
                <form class="form-horizontal" method="get">
                    <div class="form-group"><label class="col-sm-1 control-label">卷名称:</label>
                        <div class="col-sm-11">
                            <input type="text" class="form-control" ng-model="loadList.result.name" name="name">
                        </div>
                    </div>
                    <div class="form-group"><label class="col-sm-1 control-label">标题:</label>
                        <div class="col-sm-11">
                            <input type="text" class="form-control" ng-model="loadList.result.title" name="title">
                        </div>
                    </div>
                    <div class="form-group"><label class="col-sm-1 control-label">简介:</label>
                        <div class="col-sm-11">
                            <textarea type="text" class="form-control"
                                      ng-model="loadList.result.introduction"> </textarea>
                        </div>
                    </div>
                    <div class="form-group"><label class="col-sm-1 control-label">概要:</label>
                        <div class="col-sm-11"><textarea type="text" class="form-control"
                                                         ng-model="loadList.result.description"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-1 control-label">图片:</label>
                        <div class="upload-div col-sm-6">
                            <div class="upload-buttons">
                                <button class="button" ngf-select ng-model="loadList.result.file" name="file"
                                        ngf-pattern="'image/*'"
                                        ngf-accept="'image/*'" ngf-max-size="20MB" ngf-min-height="100">修改
                                </button>
                                <img ng-show="loadList.result.file==undefined" ng-src="http://localhost:8087/MuYueAdmin/api/img?path={{loadList.result.imgPath}}">
                                <img ngf-src="loadList.result.file" ng-show="loadList.result.file!==undefined">
                            </div>
                            <br/>
                            <div style="clear:both" class="err" ng-show="errorMsg != null">{{errorMsg}}</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-1 control-label">人物标题:</label>
                        <div class="col-sm-11"><input type="text" class="form-control"
                                                      ng-model="loadList.result.caricatureTitle">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-1 control-label">CG标题:</label>
                        <div class="col-sm-11">
                            <input type="text" class="form-control" ng-model="loadList.result.cgTitle">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-5"></div>
                        <div class="col-lg-5">
                            <button class="btn-lg btn-outline btn-primary" ng-click="editUpData(result.id)"
                                    ng-show="upLoadBtn==true;">编辑保存
                            </button>
                        </div>
                    </div>
                </form>
            </div>
            <!--有列表下的展示-->
            <div class="ibox-content p-md" ng-show="loadList.success==true && spanShow==false;">
                <form class="form-horizontal" method="get">
                    <div class="form-group"><label class="col-sm-1 control-label">卷名称:</label>
                        <div class="col-sm-11">
                            <span class="text-left" ng-bind="loadList.result.name"></span>
                        </div>
                    </div>
                    <div class="form-group"><label class="col-sm-1 control-label">标题:</label>
                        <div class="col-sm-11">
                            <span class="text-left" ng-bind="loadList.result.title" name="title"></span>
                        </div>
                    </div>
                    <div class="form-group"><label class="col-sm-1 control-label">简介:</label>
                        <div class="col-sm-11">
                            <span class="text-left" ng-bind="loadList.result.introduction"></span>
                        </div>
                    </div>
                    <div class="form-group"><label class="col-sm-1 control-label">概要:</label>
                        <span class="text-left" ng-bind="loadList.result.description"></span>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-1 control-label">图片:</label>
                        <img ng-src="http://localhost:8087/MuYUeAdmin/api/img?path={{loadList.result.imgPath}}" alt="">
                    </div>
                    <div class="form-group">
                        <label class="col-sm-1 control-label">人物标题:</label>
                        <div class="col-sm-11">
                            <span class="text-left" ng-bind="loadList.result.caricatureTitle"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-1 control-label">CG标题:</label>
                        <div class="col-sm-11">
                            <span class="text-left" ng-bind="loadList.result.cgTitle"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-5"></div>
                        <div class="col-lg-5">
                            <button class="btn-lg btn-outline btn-primary" ng-click="worldRedact()">编辑</button>
                        </div>
                    </div>
                </form>
            </div>
        </tab>
        <tab ng-click="seeLang(myLang.en)">
            <tab-heading>
                English
            </tab-heading>
            <!--没有列表-->
            <div class="ibox-content p-md" ng-show="upLoadBtn==false;">
                <form class="form-horizontal" method="get">
                    <div class="form-group"><label class="col-sm-1 control-label">卷名称:</label>
                        <div class="col-sm-11">
                            <input type="text" class="form-control" ng-model="worldData.name" name="name">
                        </div>
                    </div>
                    <div class="form-group"><label class="col-sm-1 control-label">标题:</label>
                        <div class="col-sm-11">
                            <input type="text" class="form-control" ng-model="worldData.title" name="title">
                        </div>
                    </div>
                    <div class="form-group"><label class="col-sm-1 control-label">简介:</label>
                        <div class="col-sm-11">
                            <textarea type="text" class="form-control" ng-model="worldData.introduction"> </textarea>
                        </div>
                    </div>
                    <div class="form-group"><label class="col-sm-1 control-label">概要:</label>
                        <div class="col-sm-11"><textarea type="text" class="form-control"
                                                         ng-model="worldData.description"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-1 control-label">图片:</label>
                        <div class="upload-div col-sm-6">
                            <div class="upload-buttons">
                                <button class="button" ngf-select ng-model="worldData.file" name="file"
                                        ngf-pattern="'image/*'"
                                        ngf-accept="'image/*'" ngf-max-size="20MB" ngf-min-height="100">上传
                                </button>
                                <img ngf-src="worldData.file">
                            </div>
                            <br/>
                            <div style="clear:both" class="err" ng-show="errorMsg != null">{{errorMsg}}</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-1 control-label">人物标题:</label>
                        <div class="col-sm-11"><input type="text" class="form-control"
                                                      ng-model="worldData.caricatureTitle">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-1 control-label">CG标题:</label>
                        <div class="col-sm-11">
                            <input type="text" class="form-control" ng-model="worldData.cgTitle">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-5"></div>
                        <div class="col-lg-5">
                            <button class="btn-lg btn-outline btn-primary" ng-click="newUpData()"
                                    ng-show="upLoadBtn==false;">保存
                            </button>
                        </div>
                    </div>
                </form>
            </div>
            <!--有列表情况下的编辑-->
            <div class="ibox-content p-md" ng-show="spanShow==true;">
                <form class="form-horizontal" method="get">
                    <div class="form-group"><label class="col-sm-1 control-label">卷名称:</label>
                        <div class="col-sm-11">
                            <input type="text" class="form-control" ng-model="loadList.result.name" name="name">
                        </div>
                    </div>
                    <div class="form-group"><label class="col-sm-1 control-label">标题:</label>
                        <div class="col-sm-11">
                            <input type="text" class="form-control" ng-model="loadList.result.title" name="title">
                        </div>
                    </div>
                    <div class="form-group"><label class="col-sm-1 control-label">简介:</label>
                        <div class="col-sm-11">
                            <textarea type="text" class="form-control"
                                      ng-model="loadList.result.introduction"> </textarea>
                        </div>
                    </div>
                    <div class="form-group"><label class="col-sm-1 control-label">概要:</label>
                        <div class="col-sm-11"><textarea type="text" class="form-control"
                                                         ng-model="loadList.result.description"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-1 control-label">图片:</label>
                        <div class="upload-div col-sm-6">
                            <div class="upload-buttons">
                                <button class="button" ngf-select ng-model="loadList.result.file" name="file"
                                        ngf-pattern="'image/*'"
                                        ngf-accept="'image/*'" ngf-max-size="20MB" ngf-min-height="100">修改
                                </button>
                                <img ng-show="loadList.result.file==undefined" ng-src="http://localhost:8087/MuYueAdmin/api/img?path={{loadList.result.imgPath}}">
                                <img ngf-src="loadList.result.file" ng-show="loadList.result.file!==undefined">
                            </div>
                            <br/>
                            <div style="clear:both" class="err" ng-show="errorMsg != null">{{errorMsg}}</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-1 control-label">人物标题:</label>
                        <div class="col-sm-11"><input type="text" class="form-control"
                                                      ng-model="loadList.result.caricatureTitle">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-1 control-label">CG标题:</label>
                        <div class="col-sm-11">
                            <input type="text" class="form-control" ng-model="loadList.result.cgTitle">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-5"></div>
                        <div class="col-lg-5">
                            <button class="btn-lg btn-outline btn-primary" ng-click="editUpData(result.id)"
                                    ng-show="upLoadBtn==true;">编辑保存
                            </button>
                        </div>
                    </div>
                </form>
            </div>
            <!--有列表下的展示-->
            <div class="ibox-content p-md" ng-show="loadList.success==true && spanShow==false;">
                <form class="form-horizontal" method="get">
                    <div class="form-group"><label class="col-sm-1 control-label">卷名称:</label>
                        <div class="col-sm-11">
                            <span class="text-left" ng-bind="loadList.result.name"></span>
                        </div>
                    </div>
                    <div class="form-group"><label class="col-sm-1 control-label">标题:</label>
                        <div class="col-sm-11">
                            <span class="text-left" ng-bind="loadList.result.title" name="title"></span>
                        </div>
                    </div>
                    <div class="form-group"><label class="col-sm-1 control-label">简介:</label>
                        <div class="col-sm-11">
                            <span class="text-left" ng-bind="loadList.result.introduction"></span>
                        </div>
                    </div>
                    <div class="form-group"><label class="col-sm-1 control-label">概要:</label>
                        <span class="text-left" ng-bind="loadList.result.description"></span>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-1 control-label">图片:</label>
                        <img ng-src="http://localhost:8087/MuYUeAdmin/api/img?path={{loadList.result.imgPath}}" alt="">
                    </div>
                    <div class="form-group">
                        <label class="col-sm-1 control-label">人物标题:</label>
                        <div class="col-sm-11">
                            <span class="text-left" ng-bind="loadList.result.caricatureTitle"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-1 control-label">CG标题:</label>
                        <div class="col-sm-11">
                            <span class="text-left" ng-bind="loadList.result.cgTitle"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-5"></div>
                        <div class="col-lg-5">
                            <button class="btn-lg btn-outline btn-primary" ng-click="worldRedact()">编辑</button>
                        </div>
                    </div>
                </form>
            </div>
        </tab>
    </tabset>
</div>
<script>

</script>