<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>{{user}}{{index}}</h2>
        <ol class="breadcrumb">
            <li>
                <a href="index.html">首页</a>
            </li>
            <li>
                <a>第一卷</a>
            </li>
            <li class="active">
                <strong>世界观</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">

    </div>
</div>
<div class="wrapper-md">
    <tabset class="tab-container">
        <tab>
            <tab-heading>
                中文简体
            </tab-heading>
            <div class="ibox-content p-md">
                <form class="form-horizontal" method="get">
                    <div class="form-group"><label class="col-sm-1 control-label">名称:</label>
                        <div class="col-sm-11">
                            <input type="text" class="form-control"  ng-hide="queen">
                            <span class="text-left" ng-show="queen">代号红皇后·小说</span>
                        </div>
                    </div>
                    <div class="form-group"><label class="col-sm-1 control-label">简介:</label>
                        <div class="col-sm-11">
                            <textarea type="text" class="form-control" ng-hide="queen"> </textarea>
                            <span class="text-left" ng-show="queen">代号红皇后·简介代号红皇后·简介代号红皇后·简介代号红皇后·简介代号红皇后·简介</span>
                        </div>
                    </div>
                    <div class="form-group"><label class="col-sm-1 control-label">概要:</label>
                        <div class="col-sm-11"><textarea type="text" class="form-control" ng-hide="queen"></textarea>
                            <span class="text-left" ng-show="queen">代号红皇后·概要代号红皇后·概要代号红皇后·概要代号红皇后·概要代号红皇后·概要代号红皇后·概要</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-1 control-label">图片:</label>
                        <div class="upload-div col-sm-6">
                            <div class="upload-buttons">
                                <div id="editArea">
                                    <fieldset>
                                        <div class="preview">
                                            <img ngf-src="!files[0].$error && files[0]">
                                            <!--<img ngf-src="item.type">-->
                                            <!--<audio controls ngf-src="!files[0].$error && files[0]"></audio>-->
                                            <!--<video controls ngf-src="!files[0].$error && files[0]"></video>-->
                                        </div>
                                        <div class="up-buttons">
                                            <div ngf-select ngf-drop ng-model="files" ngf-model-invalid="invalidFiles"
                                                 ngf-model-options="modelOptionsObj"
                                                 ngf-multiple="true" ngf-pattern="pattern" ngf-accept="acceptSelect"
                                                 ng-disabled="disabled" ngf-capture="capture"
                                                 ngf-drag-over-class="dragOverClassObj"
                                                 ngf-validate="validateObj"
                                                 ngf-resize="resizeObj"
                                                 ngf-resize-if="resizeIfFn($file, $width, $height)"
                                                 ngf-dimensions="dimensionsFn($file, $width, $height)"
                                                 ngf-duration="durationFn($file, $duration)"
                                                 ngf-keep="keepDistinct ? 'distinct' : keep"
                                                 ngf-fix-orientation="orientation"
                                                 ngf-max-files="maxFiles"
                                                 ngf-ignore-invalid="ignoreInvalid"
                                                 ngf-run-all-validations="runAllValidations"
                                                 ngf-allow-dir="allowDir" class="drop-box"
                                                 ngf-drop-available="dropAvailable">图片上传
                                                <span ng-show="dropAvailable"></span>
                                            </div>
                                        </div>
                                    </fieldset>
                                </div>
                            </div>
                            <br/>
                            <div style="clear:both" class="err" ng-show="errorMsg != null">{{errorMsg}}</div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-5"></div>
                        <div class="col-lg-5">
                            <button class="btn-lg btn-outline btn-primary" ng-click="preserve()" ng-hide="queen">保存</button>
                            <button class="btn-lg btn-outline btn-primary" ng-click="preserve()" ng-show="queen">编辑</button>
                        </div>
                    </div>
                </form>
            </div>
        </tab>
        <tab>
            <tab-heading>
                中文繁体
            </tab-heading>
            <div class="ibox-content p-md">
                <form class="form-horizontal" method="get">
                    <div class="form-group"><label class="col-sm-1 control-label">名称:</label>
                        <div class="col-sm-11"><input type="text" class="form-control" value=""></div>
                    </div>
                    <div class="form-group"><label class="col-sm-1 control-label">简介:</label>
                        <div class="col-sm-11"><textarea type="text" class="form-control" value="请输入世界观的简介"></textarea>
                        </div>
                    </div>
                    <div class="form-group"><label class="col-sm-1 control-label">概要:</label>
                        <div class="col-sm-11"><textarea type="text" class="form-control" value="请输入世界观的概要"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-1 control-label">图片:</label>
                        <div class="upload-div col-sm-6">
                            <div class="upload-buttons">
                                <div id="editArea1">
                                    <fieldset>
                                        <div class="preview">
                                            <img ngf-src="!files1[0].$error && files1[0]">
                                            <!--<img ngf-src="item.type">-->
                                            <!--<audio controls ngf-src="!files[0].$error && files[0]"></audio>-->
                                            <!--<video controls ngf-src="!files[0].$error && files[0]"></video>-->
                                        </div>
                                        <div class="up-buttons">
                                            <div ngf-select ngf-drop ng-model="files1" ngf-model-invalid="invalidFiles"
                                                 ngf-model-options="modelOptionsObj"
                                                 ngf-multiple="true" ngf-pattern="pattern" ngf-accept="acceptSelect"
                                                 ng-disabled="disabled" ngf-capture="capture"
                                                 ngf-drag-over-class="dragOverClassObj"
                                                 ngf-validate="validateObj"
                                                 ngf-resize="resizeObj"
                                                 ngf-resize-if="resizeIfFn($file, $width, $height)"
                                                 ngf-dimensions="dimensionsFn($file, $width, $height)"
                                                 ngf-duration="durationFn($file, $duration)"
                                                 ngf-keep="keepDistinct ? 'distinct' : keep"
                                                 ngf-fix-orientation="orientation"
                                                 ngf-max-files="maxFiles"
                                                 ngf-ignore-invalid="ignoreInvalid"
                                                 ngf-run-all-validations="runAllValidations"
                                                 ngf-allow-dir="allowDir" class="drop-box"
                                                 ngf-drop-available="dropAvailable">图片上传
                                                <span ng-show="dropAvailable"></span>
                                            </div>
                                        </div>
                                    </fieldset>
                                </div>
                            </div>
                            <br/>
                            <div style="clear:both" class="err" ng-show="errorMsg != null">{{errorMsg}}</div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-5"></div>
                        <div class="col-lg-5"><button class="btn-lg btn-outline btn-primary">保存</button></div>
                    </div>
                </form>
            </div>
        </tab>
        <tab>
            <tab-heading>
                English
            </tab-heading>
            <div class="ibox-content text-center p-md">
                <form class="form-horizontal" method="get">
                    <div class="form-group"><label class="col-sm-1 control-label">名称:</label>
                        <div class="col-sm-11"><input type="text" class="form-control" value=""></div>
                    </div>
                    <div class="form-group"><label class="col-sm-1 control-label">简介:</label>
                        <div class="col-sm-11"><textarea type="text" class="form-control" value="请输入世界观的简介"></textarea>
                        </div>
                    </div>
                    <div class="form-group"><label class="col-sm-1 control-label">概要:</label>
                        <div class="col-sm-11"><textarea type="text" class="form-control" value="请输入世界观的概要"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-1 control-label">图片:</label>
                        <div class="upload-div col-sm-6">
                            <div class="upload-buttons">
                                <div id="editArea2">
                                    <fieldset>
                                        <div class="preview">
                                            <img ngf-src="!files2[0].$error && files2[0]">
                                            <!--<img ngf-src="item.type">-->
                                            <!--<audio controls ngf-src="!files[0].$error && files[0]"></audio>-->
                                            <!--<video controls ngf-src="!files[0].$error && files[0]"></video>-->
                                        </div>
                                        <div class="up-buttons">
                                            <div ngf-select ngf-drop ng-model="files2" ngf-model-invalid="invalidFiles"
                                                 ngf-model-options="modelOptionsObj"
                                                 ngf-multiple="true" ngf-pattern="pattern" ngf-accept="acceptSelect"
                                                 ng-disabled="disabled" ngf-capture="capture"
                                                 ngf-drag-over-class="dragOverClassObj"
                                                 ngf-validate="validateObj"
                                                 ngf-resize="resizeObj"
                                                 ngf-resize-if="resizeIfFn($file, $width, $height)"
                                                 ngf-dimensions="dimensionsFn($file, $width, $height)"
                                                 ngf-duration="durationFn($file, $duration)"
                                                 ngf-keep="keepDistinct ? 'distinct' : keep"
                                                 ngf-fix-orientation="orientation"
                                                 ngf-max-files="maxFiles"
                                                 ngf-ignore-invalid="ignoreInvalid"
                                                 ngf-run-all-validations="runAllValidations"
                                                 ngf-allow-dir="allowDir" class="drop-box"
                                                 ngf-drop-available="dropAvailable">图片上传
                                                <span ng-show="dropAvailable"></span>
                                            </div>
                                        </div>
                                    </fieldset>
                                </div>
                            </div>
                            <br/>
                            <div style="clear:both" class="err" ng-show="errorMsg != null">{{errorMsg}}</div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-3"></div>
                        <div class="col-lg-5"><button class="btn-lg btn-outline btn-primary">保存</button></div>
                    </div>
                </form>
            </div>
        </tab>
    </tabset>
</div>
<script>

</script>