<div class="ibox float-e-margins table m-b-none">
    <div class="modal-header h4">
        {{newadd}}
    </div>
    <div class="text-center p-md">
        <form name="myForm" class="form-horizontal" method="get">
            <div class="form-group">
                <label class="col-sm-2 control-label" ng-required="true" ng-src="{{uploadImg}}">图片:</label>
                <div class="upload-div col-sm-6">
                    <div class="upload-buttons">
                        <button class="button" ngf-select ng-model="file" name="file" ngf-pattern="'image/*'"
                                ngf-accept="'image/*'" ngf-max-size="20MB" ngf-min-height="100"
                        >上传</button>
                        <img ngf-src="file" style="width: 300px; height: auto">
                    </div>
                    <br/>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">名称:</label>
                <div class="col-sm-8"><input type="text" class="form-control" ng-required="true" value="" ng-model="title"></div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">序号：</label>
                <div class="col-sm-5">
                    <input type="number" name="count" ng-model="sort" ng-required="true"
                           class="form-control input-sm w-sm inline m-r" autocomplete="off" min="1" ng-model="count" class="form-control">
                    <div class="alert alert-danger help-block" ng-show="myForm.count.$error.min">
                        序号不能小于1
                    </div>
                </div>
            </div>
        </form>
        <div class="row">
            <div class="col-lg-4"></div>
            <div class="col-lg-5">
                <button class="btn-lg btn-primary btn-outline text-left" ng-click="preserve()">保存</button>
            </div>
        </div>
    </div>


</div>