<div class="ibox float-e-margins">
    <div class="modal-header h4">
        {{newadd}}
    </div>
    <div class="text-center p-md">
        <form name="myForm" class="form-horizontal" method="get">
            <div class="form-group"><label class="col-sm-2 control-label">名称:</label>
                <div class="col-sm-6"><input type="text" class="form-control" placeholder="请输入人物名称" ng-model="title"></div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">图片:</label>
                <div class="upload-div col-sm-6">
                    <div class="upload-buttons">
                        <div id="editArea">
                            <fieldset>
                                <div class="preview">
                                    <img ngf-src="!files[0].$error && files[0]">
                                    <!--<img ngf-src="item.type">-->
                                    <!--<audio controls ngf-src="!files[0].$error && files[0]"></audio>-->
                                    <!--<video controls ngf-src="!files[0].$error && files[0]"></video>-->
                                </div>
                                <div class="up-buttons">
                                    <div ngf-select ngf-drop ng-model="files" ngf-model-invalid="invalidFiles"
                                         ngf-model-options="modelOptionsObj"
                                         ngf-multiple="true" ngf-pattern="pattern" ngf-accept="acceptSelect"
                                         ng-disabled="disabled" ngf-capture="capture"
                                         ngf-drag-over-class="dragOverClassObj"
                                         ngf-validate="validateObj"
                                         ngf-resize="resizeObj"
                                         ngf-resize-if="resizeIfFn($file, $width, $height)"
                                         ngf-dimensions="dimensionsFn($file, $width, $height)"
                                         ngf-duration="durationFn($file, $duration)"
                                         ngf-keep="keepDistinct ? 'distinct' : keep"
                                         ngf-fix-orientation="orientation"
                                         ngf-max-files="maxFiles"
                                         ngf-ignore-invalid="ignoreInvalid"
                                         ngf-run-all-validations="runAllValidations"
                                         ngf-allow-dir="allowDir" class="drop-box"
                                         ngf-drop-available="dropAvailable" ng-click="load()">图片上传
                                        <span ng-show="dropAvailable"></span>
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                    </div>
                    <br/>
                    <div style="clear:both" class="err" ng-show="errorMsg != null">{{errorMsg}}</div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">图片:</label>
                <div class="upload-div col-sm-6">
                    <div class="upload-buttons">
                        <div id="editArea2">
                            <fieldset>
                                <div class="preview">
                                    <img ngf-src="!files2[0].$error && files2[0]">
                                    <!--<img ngf-src="item.type">-->
                                    <!--<audio controls ngf-src="!files[0].$error && files[0]"></audio>-->
                                    <!--<video controls ngf-src="!files[0].$error && files[0]"></video>-->
                                </div>
                                <div class="up-buttons">
                                    <div ngf-select ngf-drop ng-model="files2" ngf-model-invalid="invalidFiles"
                                         ngf-model-options="modelOptionsObj"
                                         ngf-multiple="true" ngf-pattern="pattern" ngf-accept="acceptSelect"
                                         ng-disabled="disabled" ngf-capture="capture"
                                         ngf-drag-over-class="dragOverClassObj"
                                         ngf-validate="validateObj"
                                         ngf-resize="resizeObj"
                                         ngf-resize-if="resizeIfFn($file, $width, $height)"
                                         ngf-dimensions="dimensionsFn($file, $width, $height)"
                                         ngf-duration="durationFn($file, $duration)"
                                         ngf-keep="keepDistinct ? 'distinct' : keep"
                                         ngf-fix-orientation="orientation"
                                         ngf-max-files="maxFiles"
                                         ngf-ignore-invalid="ignoreInvalid"
                                         ngf-run-all-validations="runAllValidations"
                                         ngf-allow-dir="allowDir" class="drop-box"
                                         ngf-drop-available="dropAvailable" ng-click="click()">图片上传
                                        <span ng-show="dropAvailable"></span>
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                    </div>
                    <br/>
                    <div style="clear:both" class="err" ng-show="errorMsg != null">{{errorMsg}}</div>
                </div>
            </div>
            <div class="form-group"><label class="col-sm-2 control-label">简介:</label>
                <div class="col-sm-10"><textarea type="text" class="form-control" placeholder="请输入人物简介" ng-model="description"></textarea>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">序号：</label>
                <div class="col-sm-5">
                    <input type="number" name="count" ng-model="sort" ng-required="true"
                           class="form-control input-sm w-sm inline m-r" autocomplete="off" min="1" ng-model="count" class="form-control">
                    <div class="alert alert-danger help-block" ng-show="myForm.count.$error.min">
                        序号不能小于1
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="row">
        <div class="col-lg-5"></div>
        <div class="col-lg-5">
            <button class="btn btn-lg btn-outline btn-primary" ng-click="preserve()">保存</button>
        </div>
    </div>
</div>