<div class="ibox float-e-margins table m-b-none">
    <div class="modal-header h4">
        {{newadd}}
    </div>
    <div class="text-center p-md">
        <form name="myForm" class="form-horizontal" method="get">
            <div class="form-group">
                <label class="col-sm-2 control-label">语言:</label>
                <div class="col-sm-8"><select class="form-control w-lg inline " ng-required="true" ng-model="interviewAddressId">
                    <option value="中文简体">中文简体</option>
                    <option value="中文繁体">中文繁体</option>
                    <option value="English">English</option>
                </select></div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label" ng-required="true" ng-src="{{uploadImg}}" ng-model="img">图片:</label>
                <div class="upload-div col-sm-6"  >
                    <div class="upload-buttons">
                        <div id="editArea">
                            <!--<fieldset>-->
                                <div class="preview">
                                    <img ngf-src="!files[0].$error && files[0]">
                                    <!--<img ngf-src="item.type">-->
                                    <!--<audio controls ngf-src="!files[0].$error && files[0]"></audio>-->
                                    <!--<video controls ngf-src="!files[0].$error && files[0]"></video>-->
                                </div>
                                <div class="up-buttons">
                                    <button ngf-select ngf-drop ng-model="files" name="files" ngf-model-invalid="invalidFiles"
                                         ngf-model-options="modelOptionsObj"
                                         ngf-multiple="true" ngf-pattern="pattern" ngf-accept="acceptSelect"
                                         ng-disabled="disabled" ngf-capture="capture"
                                         ngf-drag-over-class="dragOverClassObj"
                                         ngf-validate="validateObj"
                                         ngf-resize="resizeObj"
                                         ngf-resize-if="resizeIfFn($file, $width, $height)"
                                         ngf-dimensions="dimensionsFn($file, $width, $height)"
                                         ngf-duration="durationFn($file, $duration)"
                                         ngf-keep="keepDistinct ? 'distinct' : keep"
                                         ngf-fix-orientation="orientation"
                                         ngf-max-files="maxFiles"
                                         ngf-ignore-invalid="ignoreInvalid"
                                         ngf-run-all-validations="runAllValidations"
                                         ngf-allow-dir="allowDir" ngf-drop-available="dropAvailable" ng-click="load()">图片上传
                                        <span ng-show="dropAvailable"></span>
                                    </button>
                                </div>
                            <!--</fieldset>-->
                        </div>
                    </div>
                    <br/>
                    <div style="clear:both" class="err" ng-show="errorMsg != null">{{errorMsg}}</div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">标题:</label>
                <div class="col-sm-8"><input type="text" class="form-control" ng-required="true" value="" ng-model="title"></input></div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">简介:</label>
                <div class="col-sm-8"><textarea type="text" class="form-control" ng-required="true" value="" ng-model="description"></textarea></div>
            </div>
            <div class="form-group"><label
                    class="col-sm-2 control-label">链接：</label>
                <div class="col-sm-5">
                    <select class="form-control small" ng-model="catenate" ng-required="true" ng-options="opt for opt in options.mstep"></select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">序号：</label>
                <div class="col-sm-5">
                    <input type="number" name="count" ng-model="sort" ng-required="true"
                           class="form-control input-sm w-sm inline m-r" autocomplete="off" min="1" max="5" ng-model="count" class="form-control">
                    <div class="alert alert-danger help-block" ng-show="myForm.count.$error.max">
                        序号不能超过5
                    </div>
                    <div class="alert alert-danger help-block" ng-show="myForm.count.$error.min">
                        序号不能小于1
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">禁/启：</label>
                <div class="col-sm-2"><button class="btn  btn-sm btn-info btn-addon"><i class="fa  fa-unlock"></i>启用</button></div>
            </div>
        </form>
        <div class="row">
            <div class="col-lg-4"></div>
            <div class="col-lg-5">
                <button class="btn-lg btn-primary btn-outline text-left" ng-click="preserve(y)">保存</button>
            </div>
        </div>
    </div>


</div>