<div class="ibox float-e-margins">
    <div class="modal-header h3">

    </div>
    <div class="text-center p-md">
        <form class="form-horizontal" method="get">
            <div class="form-group"><label class="col-sm-1 control-label">语言:</label>
                <div class="col-sm-11">
                    <select class="form-control w-lg inline " ng-model="interviewAddressId"
                            ng-options="x.id as x.address for x in inter">
                    </select></div>
            </div>
            <div class="form-group"><label class="col-sm-1 control-label">名称:</label>
                <div class="col-sm-3"><select class="form-control w-lg inline " ng-model="interviewAddress"
                                              ng-options="x.id as x.address for x in inter">
                </select></div>
                <div class="col-sm-6"><input type="text" class="form-control" placeholder="请输入目录名称"></div>
            </div>
            <div class="form-group"><label class="col-sm-1 control-label">简介:</label>
                <div class="col-sm-11"><textarea type="text" class="form-control" placeholder="请输入目录简介"></textarea>
                </div>
            </div>
            <div class="form-group"><label class="col-sm-1 control-label">概要:</label>
                <div class="col-sm-11"><textarea type="text" class="form-control" placeholder="请输入目录概要"></textarea>
                </div>
            </div>
            <div class="form-group"><label class="col-sm-1 control-label">链接:</label>
                <div class="col-sm-11"><input type="text" class="form-control" placeholder="请输入外部链接"></div>
            </div>
            <div class="form-group"><label class="col-sm-1 control-label">时间:</label>
                <div class="col-sm-11"><input type="text" class="form-control" placeholder="请输入时间"></div>
            </div>
            <div class="form-group"><label class="col-sm-1 control-label">序号:</label>
                <div class="col-sm-11">
                <select class="form-control w-lg inline " ng-model="interviewAddress"
                        ng-options="x.id as x.address for x in inter">
                </select></div>
            </div>
            <div class="form-group">
                <label class="col-sm-1 control-label">图片:</label>
                <div class="upload-div col-sm-6">
                    <div class="upload-buttons">
                        <div id="editArea">
                            <fieldset>
                                <div class="preview">
                                    <img ngf-src="!files[0].$error && files[0]">
                                    <!--<img ngf-src="item.type">-->
                                    <!--<audio controls ngf-src="!files[0].$error && files[0]"></audio>-->
                                    <!--<video controls ngf-src="!files[0].$error && files[0]"></video>-->
                                </div>
                                <div class="up-buttons">
                                    <div ngf-select ngf-drop ng-model="files" ngf-model-invalid="invalidFiles"
                                         ngf-model-options="modelOptionsObj"
                                         ngf-multiple="true" ngf-pattern="pattern" ngf-accept="acceptSelect"
                                         ng-disabled="disabled" ngf-capture="capture"
                                         ngf-drag-over-class="dragOverClassObj"
                                         ngf-validate="validateObj"
                                         ngf-resize="resizeObj"
                                         ngf-resize-if="resizeIfFn($file, $width, $height)"
                                         ngf-dimensions="dimensionsFn($file, $width, $height)"
                                         ngf-duration="durationFn($file, $duration)"
                                         ngf-keep="keepDistinct ? 'distinct' : keep"
                                         ngf-fix-orientation="orientation"
                                         ngf-max-files="maxFiles"
                                         ngf-ignore-invalid="ignoreInvalid"
                                         ngf-run-all-validations="runAllValidations"
                                         ngf-allow-dir="allowDir" class="drop-box" ngf-drop-available="dropAvailable">
                                        图片上传
                                        <span ng-show="dropAvailable"></span>
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                    </div>
                    <br/>
                    <div style="clear:both" class="err" ng-show="errorMsg != null">{{errorMsg}}</div>
                </div>
            </div>
        </form>
    </div>
</div>